__pycache__/
app/ptz/camera-calibration-and-image-undistortion/*
app/static/hls
!app/static/hls/.gitkeep
*.png
*.jpg
*.npz
config.json
test/*
pyvenv.cfg
share/*
lib/*
include/*
bin/*
etc/*
lib64
