body{
    font-size: 12px;
}
button{
    font-size: 12px;
}
.direct {
    position: relative;
    background-color: #04AA6D;
    border: none;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    padding: 5%;
    margin: 0.5%;
}
.direct:focus {
    outline: none;
    box-shadow: none;
}
.direct:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
    outline: none;
}
.direct:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.s-hidden {
    visibility:hidden;
    padding-right:10px;
}
.select {
    width: 100% !important;
    cursor:pointer;
    display:inline-block;
    position:relative;
    font:normal 14px/26px Arial, Sans-Serif;
    color:black;
    border:1px solid #ccc;
}
.styledSelect {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:white;
    padding-top: 0.5rem;
    padding-left: 1.25rem;
    font-weight:bold;
}
.styledSelect:after {
    content:"";
    width:0;
    height:0;
    border:5px solid transparent;
    border-color:black transparent transparent transparent;
    position:absolute;
    top: 1.1rem;
    right: 6px;
}
.styledSelect:active, .styledSelect.active {
    background-color:#eee;
}
.options {
    display:none;
    position:absolute;
    top:100%;
    right:0;
    left:0;
    z-index:999;
    margin:0 0;
    padding:0 0;
    list-style:none;
    border:1px solid #ccc;
    background-color:white;
    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
}
.options li {
    padding:0 6px;
    margin:0 0;
    padding:0 10px;
}
.options li:hover {
    background-color:#39f;
    color:white;
}
/* Indicator for input range */
input[type="range"] {
  position: relative;
}

input[type="range"]:before {
    position: absolute;
    top: -17px;
    left: 50%;
    margin-left: -20px;
    content: attr(value);
    display: block;
    text-align: center;
    width: 40px;
    height: 10px;
}
