<!DOCTYPE html>
<html>
<head>
    <title>PTZ controller</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <link href="http://vjs.zencdn.net/6.2.8/video-js.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-8 mt-3">
                <div id="vid-container" style="position: relative; width: 600px; height: 450px;">
                    <video id="player" class="video-js vjs-default-skin vjs-big-play-centered"
                    data-setup='{"fluid": true, "controls": false, "autoplay": true, "preload": "auto", "aspectRatio": "4:3"}' muted="muted">
                        <source src="/video/index.m3u8" type="application/x-mpegURL">
                    </video>
                </div>
                <!-- Previous PTZ position -->
                <div class="row">
                    <div class="col-6">
                        <div class="card-header d-flex text-center align-items-center">
                            <span>Previous PTZ position</span>
                            <button id="back_prv" type="button" class="btn btn-primary m-auto" style="border-radius: 0 !important;">Back</button>
                        </div>
                        <div class="card-body">
                            <div class="btn-group d-flex justify-content-between">
                                <button id="pre_p" type="button" class="btn text-left" disabled>P: N/A</button>
                                <button id="pre_t" type="button" class="btn text-left" disabled>T: N/A</button>
                                <button id="pre_z" type="button" class="btn text-left" disabled>Z: N/A</button>
                            </div>
                        </div>
                    </div>
                    <!-- End -->
                    <!-- Current PTZ position -->
                    <div class="col-6">
                        <div class="card-header">
                            <span>Current PTZ position</span>
                            <button type="button" class="btn m-auto" disabled style="visibility: hidden;">Go</button>
                        </div>
                        <div class="card-body">
                            <div class="btn-group d-flex justify-content-between">
                                <button id="cur_p" type="button" class="btn text-left" disabled>P: </button>
                                <button id="cur_t" type="button" class="btn text-left" disabled>T: </button>
                                <button id="cur_z" type="button" class="btn text-left" disabled>Z: </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 mt-3 p-1 d-flex flex-column justify-content-between">
                <!-- Illustration -->
                <div class="w-100 mb-2">
                    <div class="card">
                        <div class="card-header">
                            How PTZ work?
                        </div>
                        <div class="card-body">
                            <img class="w-100" src="{{ url_for('static', filename='images/mapping-the-angles.png')}}">
                        </div>
                    </div>
                </div>
                <div class="w-100 mb-2">
                    <div class="card">
                        <div class="card-header text-green">
                            Choose moving type
                        </div>
                        <div class="card-body p-0">
                            <select id="select_move" class="form-control" name="select_move">
                                <option value="con_move">Continouse move</option>
                                <option value="abs_move">Absolute move</option>
                                <option value="rel_move">Relative move</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- Continous move -->
                <div class="w-100 move-div" data-move="con_move">
                    <div class="card">
                        <div class="card-body row">
                            <div class="col-12 d-flex justify-content-center">
                                <button style="width: 5rem; height: 5rem;" class="direct" data-name="ul">Up left</button>
                                <button style="width: 5rem; height: 5rem;" class="direct" data-name="up">Up</button>
                                <button style="width: 5rem; height: 5rem;" class="direct" data-name="ur">Up right</button>
                            </div>
                            <div class="col-12 d-flex justify-content-center">
                                <button style="width: 5rem; height: 5rem;" class="direct" data-name="left">Left</button>
                                <button style="width: 5rem; height: 5rem;" class="border-0 direct" data-name="stop">Stop</button>
                                <button style="width: 5rem; height: 5rem;" class="direct" data-name="right">Right</button>
                            </div>
                            <div class="col-12 d-flex justify-content-center">
                                <button style="width: 5rem; height: 5rem;" class="direct" data-name="dl">Down left</button>
                                <button style="width: 5rem; height: 5rem;" class="direct" data-name="down">Down</button>
                                <button style="width: 5rem; height: 5rem;" class="direct" data-name="dr">Down right</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End -->
                <!-- Absolute move card -->
                <div class="w-100 move-div d-none" data-move="abs_move">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group mb-2 d-flex flex-column">
                                <label for="r1">Pan</label>
                                <input id="r1" type="range" name="abs_pan" class="form-range" value="0" min="-1" max="1" step="0.1">
                            </div>
                            <div class="form-group mb-2 d-flex flex-column">
                                <label for="r2">Tilt</label>
                                <input id="r2" type="range" name="abs_tilt" class="form-range" value="0" min="-1" max="1" step="0.1">
                            </div>
                            <div class="form-group mb-2 d-flex flex-column">
                                <label for="r3">Zoom_x</label>
                                <input id="r3" type="range" name="abs_zoom" class="form-range" value="0" min="0" max="1" step="0.1">
                            </div>
                        </div>
                        <div class="card-footer">
                            <button id="do_abs_move" class="btn btn-primary float-right" type="button">Move</button>
                        </div>
                    </div>
                </div>
                <!-- End -->
                <!-- Relative move card -->
                <div class="w-100 move-div d-none" data-move="rel_move">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group mb-2 d-flex flex-column">
                                <label for="_r1">Pan</label>
                                <input id="_r1" type="range" name="rel_pan" class="form-range" value="0" min="-1" max="1" step="0.1">
                            </div>
                            <div class="form-group mb-2 d-flex flex-column">
                                <label for="_r2">Tilt</label>
                                <input id="_r2" type="range" name="rel_tilt" class="form-range" value="0" min="-1" max="1" step="0.1">
                            </div>
                            <div class="form-group mb-2 d-flex flex-column">
                                <label for="_r3">Zoom</label>
                                <input id="_r3" type="range" name="rel_zoom" class="form-range" value="0" min="-1" max="1" step="0.1">
                            </div>
                        </div>
                        <div class="card-footer">
                            <button id="do_rel_move" class="btn btn-primary float-right" type="button">Move</button>
                        </div>
                    </div>
                </div>
                <!-- End -->
                <!-- End -->
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="http://vjs.zencdn.net/6.2.8/video.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-contrib-hls/5.12.2/videojs-contrib-hls.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/sweetalert2.all.min.js') }}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js')}}"></script>
</body>
</html>
